/* Header related styles */
.header {
   height: 4rem;
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Nav related styles */
.nav-menu {
   display: flex;
   align-items: center;
}

.nav-menu .nav-item {
   list-style: none;
   margin: 0 1.25rem;
}

.nav-menu .nav-item:hover > a {
   color: #a3a3a3;
}

.nav-menu .nav-item > a {
   text-decoration: none;
}

/* Button related styles */
.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem 1rem;
   transition: all;
   transition-duration: 150ms;
}

.btn:active {
   transform: scale(0.9);
}

.btn-primary {
   border-radius: 99999px;
   border: 2px solid #c6426e;
   background-color: #2b2b2b;
   color: white;
}

/* Intro related styles */
.intro-section {
   display: grid;
   justify-items: center;
   padding: 5.25rem 0;
}

.greeting {
   font-size: 1.5rem;
   font-weight: normal;
}

.title {
   font-size: 3rem;
   color: white;
   margin-top: 0.75rem;
   margin-bottom: 1rem;
}

.nickname {
   background-image: linear-gradient(to right, #9e47b5, #c6426e);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

.intro {
   max-width: 40.625rem;
}

/* Tech skills related styles */
.tech-skills {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tech-card {
   padding: 2rem;
   display: grid;
   justify-items: center;
   border-radius: 0.75rem;
}

.tech-card > .icon {
   max-width: 3rem;
   max-height: 3rem;
}

.tech-card > .name {
   margin-top: 0.75rem;
   margin-bottom: 0.625rem;
   color: white;
}
