* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
   line-height: 1.6;
}
