* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   margin: 0;
   font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
   line-height: 1.6;
   background: #1e1e1e;
   color: #717171;
}

a,
button {
   color: #717171;
   font-family: "Space Grotesk", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
}

img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
}

.section-title {
   margin-top: 6.25rem;
   margin-bottom: 2.5rem;
   font-size: 1.5rem;
}

.text-center {
   text-align: center;
}
